.header {
  margin: 0 auto;
  height: 120px;
  width: 90%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-mobile {
  width: 40px;
  height: 40px;
  display: none;
}
.left-area {
  height: 51px;
  border-bottom: 1px solid #5234689d;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.left-area-title {
  display: flex;
}
.left-area span {
  position: relative;
  top: -5px;
  line-height: 14px;
  font-family: 'PT Serif', serif;
  font-weight: bold;
  font-style: italic;
  color: #762cac;
  background-color: #fff;
  padding: 0 5px;
}
.header-title {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  color: #d73b1e;
}
.central-area {
  width: 280px;
  height: 40px;
  border: 1px solid #333;
  border-radius: 5px;

  display: flex;
}
.search-icon {
  line-height: 40px;
  color:#d73b1e;
  margin: 0 10px;
}
.input-search {
  color: #8f8f8f;
}
.input-search::placeholder {
  color: #beb3b5;
}
.right-area {
  display: flex;
  align-items: center;
}
.header-text {
  color: #d73b1e;
  font-family: 'PT Serif', serif;
  font-style: italic;

  display: flex;
  flex-direction: column;
}
.header-img {
  margin: 0 30px;
}
.bag {
  color: #b3b3b3;
}
.bag-number {
  color: #d73b1e;
}
.header-text-mobile {
  display: none;
}
.fw-bold {
  font-weight: bold;
}
.fw-500 {
  font-weight: 500;
}
.fw-300 {
  font-weight: 300;
}
.fs-18 {
  font-size: 18px;
}
.fs-14 {
  font-size: 14px;
}
.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 962px) {
  .menu-mobile {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .left-area {
    height: 35px;
    border-bottom: 1px solid #5234689d;
    display: flex;
    flex-direction: column;
    align-items: center;  
  }
  .header-title {
    font-size: 22px;
  }
  .left-area span {
  position: relative;
  top: -4px;
  line-height: 14px;
  font-family: 'PT Serif', serif;
  font-weight: bold;
  font-style: italic;
  color: #762cac;
  background-color: #fff;
  padding: 0 2px;
  font-size: 12px;
}
  .header-img {
    margin: 5px 0;
    width: 75%;
  }
  .right-area {
    flex-direction: column;
  }
  .central-area {
    display: none;
    margin-left: 20px;
    align-self: center;
  }
  .header-text {
  display: none;
  }
  .bag {
    font-size: 12px;
  }
  .header-text-mobile {
    width: 100%;
    height: 30px;
    font-family: 'PT Serif', serif;
    font-style: italic;
    background-color: #ddd;
    color: #444;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}